extends ../layout

block content

	.banner
		.banner__overlay
		.banner__image
			picture
				source(media="(max-width: 768px)" srcset="images/banner/banner-768.jpg")
				source(media="(max-width: 480px)" srcset="images/banner/banner-480.jpg")
				img(src="images/banner/banner-1920.jpg" alt="banner image")
		.banner__text
			p Location de voiture avec chauffeur &amp; guide accompagnateur
			.js-open-popin-item
				a.btn(href="#") Find how
				.js-popin-details.sr-only
					.popinContact
						h4 If you are an investor interested in investing in our fund and need more information, contact us below:
						form(action='#', method='POST')
							.popinContact__input
								label(for='name') Name
								input#name(name='name', type='text', placeholder='Your name', required='')
							.popinContact__input
								label(for='mail') Mail
								input#mail(name='mail', type='email', placeholder='Your email address', required='')
							.popinContact__input
								label(for='subject') Subject
								input#subject(name='subject', type='text', placeholder='The subject of your message', required='')
							.popinContact__input
								label(for='message') Message
								textarea#message(name='content', placeholder='Your message here ...', required='')
							.popinContact__btn
								button.btn(type='submit') Send

	.section.first
		.section__content
			h2.section__title Visiter Madagascar avec nous
			h3.section__subtitle Un voyage en toute sécurité et satisfaction avec nos chauffeurs professionnels expérimentés
			//- h3.section__subtitle Pour vous faire découvrir et voyager à Madagascar en toute sérénité et confiance. De chauffeurs guides de référence expérimentés et disponibles pour votre voyage et visite dans toutes les régions de la grande île.
			//- h3.section__subtitle Harris Madatour met à votre disposition des voitures régulièrement bien entretenues avec chauffeurs francophones et expérimentés, adaptées à votre confort et à tout type de budget. 
			.textBox.section__content
				.textBox__item
					.item__header
						h4 Épanouissante
					.item__text
						p Un pays extraordinaire, Madagascar recèle une population accueillante, vivant jusqu’à aujourd’hui dans l’ultime respect d’autrui. Une population née d’une fusion des premiers arrivés sur l’île à l’époque de sa découverte
				.textBox__item
					.item__header
						h4 Abordable
					.item__text
						p Une référence en termes de location de voiture avec chauffeur guide accompagnateur, Harris Madatour vous offre le plaisir de visiter tout Madagascar à tarif abordable. Offrez-vous un séjour personnalisé et à votre rythme.
				.textBox__item
					.item__header
						h4 Sécurité assurée
					.item__text
						p Notre devise est votre satisfaction et votre sécurité, avant tout. Avec Harris Madatour, visiter Madagascar en toute sécurité ! Nous disposons à notre actif plusieurs véhicules adaptés pour tous types de voyages et de terrains
				
	//- .section.section--dark
	//- 	.bannerInfo.section__content
	//- 		.bannerInfo__item
	//- 			i.fa.fa-handshake-o
	//- 			p.bannerInfo__status Rencontre humainement riche
	//- 		.bannerInfo__item
	//- 			i.fa.fa-eur
	//- 			p.bannerInfo__status Tarif adapté à tout budget
	//- 		.bannerInfo__item
	//- 			i.fa.fa-shield
	//- 			p.bannerInfo__status Sécurité et satisfaction
				
	
	//- .section#values
	//- 	.section__content
	//- 		h2.section__title Notre mission
	//- 		h3.section__subtitle Harris Madatour met à votre disposition des voitures régulièrement bien entretenues avec chauffeurs francophones et expérimentés, adaptées à votre confort et à tout type de budget. 
	//- 		.textBox.section__content
	//- 			.textBox__item
	//- 				.item__header
	//- 					h4 Épanouissante
	//- 				.item__text
	//- 					p Un pays extraordinaire, Madagascar recèle une population accueillante, vivant jusqu’à aujourd’hui dans l’ultime respect d’autrui. Une population née d’une fusion des premiers arrivés sur l’île à l’époque de sa découverte
	//- 			.textBox__item
	//- 				.item__header
	//- 					h4 Abordable
	//- 				.item__text
	//- 					p Une référence en termes de location de voiture avec chauffeur guide accompagnateur, Harris Madatour vous offre le plaisir de visiter tout Madagascar à tarif abordable. Offrez-vous un séjour personnalisé et à votre rythme.
	//- 			.textBox__item
	//- 				.item__header
	//- 					h4 Sécurité assurée
	//- 				.item__text
	//- 					p Notre devise est votre satisfaction et votre sécurité, avant tout. Avec Harris Madatour, visiter Madagascar en toute sécurité ! Nous disposons à notre actif plusieurs véhicules adaptés pour tous types de voyages et de terrains
				

	.section
		.details.section__content
			h2.section__title Pourquoi Madagascar?
			h3.section__subtitle Pour vous faire découvrir et voyager à Madagascar en toute sérénité et confiance. De chauffeurs guides de référence expérimentés et disponibles pour votre voyage et visite dans toutes les régions de la grande île.
			.details__item
				.details__image
					img.thumbnail(src="images/about/seychelles.jpg" width="500" height="300"  alt="image")
				.details__text
					h2 About Seychelles
					h3 Fiscal Environment
					ul
						li International Business Companies (IBCs) set-up on the island of Seychelles are exempt from corporation tax.
						li No capital gains tax, no withholding tax and no exchange controls.

					h3 Why Seychelles?
					ul
						li  A stable political nation and is amongst the fastest growing jurisdictons.
						li  A growing list of double taxation treaties with countries including Mauritius, China, Indonesia, Belgium, Cyprus, South Africa, UAE etc.
			.details__item.details__item--reverse
				.details__image
					img.thumbnail(src="images/about/mauritius.jpg" width="500" height="300"  alt="image")
				.details__text
					h2 About Mauritius
					h3 Why invest in Mauritius
					p Mauritius is fast becoming an investmentdestination of choice for foreign investors who are attracted by a business-friendly environment, favourable tax rates, strong capital growth achieved through property investments.
			.details__item
				.details__image
					img.thumbnail(src="images/about/mauritius-2.jpg" width="500" height="300"  alt="image")
				.details__text
					h3 Reasons to invest in Mauritius.
					ul
						li Attractive ROI and Tax benefits.
						li Strong high-net-worth individuals (HNWI growth) – due to an increase of wealthy individuals moving to Mauritius over the last decade.
						li Secure ownership rights - Mauritian ownership rights are very strong, which encourages locals and foreigners to invest in property and businesses in the country.
						li Low level of government regulation &amp; intervention.
						li Automatic permanent residency - this applies if one buys a US $500,000 home in the country. It then encourages wealthy people to move there and grows the HNWI further.
						li Strong foreign direct investment (FDI} inflows.
						li Safety &amp; security - Mauritius was recently rated by New World Wealth as the safest country in Africa along with Namibia and Botswana.
						li Excellent education and healthcare system.
						li A retirement paradise.
	.section#projects
		h2.section__title Projects Requiring Investment
		//- h3.section__subtitle Completely productize dynamic outsourcing vis-a-vis high standards in web.
		.project.section__content
			.project__item.js-open-popin-item
				.project__image
					img(src="images/project/p-1.jpg" width="300" height="300"  alt="image")
				.project__text
					h3 Beach House
				.project__details.js-popin-details.sr-only
					.projects
						img(src="images/project/p-1.jpg" width="300" height="300"  alt="image")
						.projects__text
							h3 Beach House
							p Madagascar trsm aims to generate real value for our investors by creating synergy between onsite/offsite aspects of property development with our Property Development Protected Cell Fund.
							p For information on this project, contact us at 
								strong contact@zakaranda@gmail.com
			.project__item.js-open-popin-item
				.project__image
					img(src="images/project/p-9.jpg" width="300" height="300"  alt="image")
				.project__text
					h3 Grand Bay Villas
				.project__details.js-popin-details.sr-only
					.projects
						img(src="images/project/p-9.jpg" width="300" height="300"  alt="image")
						.projects__text
							h3 Grand Bay Villas
							p Madagascar trsm aims to generate real value for our investors by creating synergy between onsite/offsite aspects of property development with our Property Development Protected Cell Fund.
							p For information on this project, contact us at 
								strong contact@zakaranda@gmail.com
			.project__item.js-open-popin-item
				.project__image
					img(src="images/project/p-3.jpg" width="300" height="300"  alt="image")
				.project__text
					h3 Luxury Villa
				.project__details.js-popin-details.sr-only
					.projects
						img(src="images/project/p-3.jpg" width="300" height="300"  alt="image")
						.projects__text
							h3 Luxury Villa
							p Madagascar trsm aims to generate real value for our investors by creating synergy between onsite/offsite aspects of property development with our Property Development Protected Cell Fund.
							p For information on this project, contact us at 
								strong contact@zakaranda@gmail.com
			.project__item.js-open-popin-item
				.project__image
					img(src="images/project/p-4.jpg" width="300" height="300"  alt="image")
				.project__text
					h3 New Ebène
				.project__details.js-popin-details.sr-only
					.projects
						img(src="images/project/p-4.jpg" width="300" height="300"  alt="image")
						.projects__text
							h3 New Ebène
							p Madagascar trsm aims to generate real value for our investors by creating synergy between onsite/offsite aspects of property development with our Property Development Protected Cell Fund.
							p For information on this project, contact us at 
								strong contact@zakaranda@gmail.com
			.project__item.js-open-popin-item
				.project__image
					img(src="images/project/p-5.jpg" width="300" height="300"  alt="image")
				.project__text
					h3 Cambuse Beach &amp; Spa
				.project__details.js-popin-details.sr-only
					.projects
						img(src="images/project/p-5.jpg" width="300" height="300"  alt="image")
						.projects__text
							h3 Cambuse Beach &amp; Spa
							p Madagascar trsm aims to generate real value for our investors by creating synergy between onsite/offsite aspects of property development with our Property Development Protected Cell Fund.
							p For information on this project, contact us at 
								strong contact@zakaranda@gmail.com
			.project__item.js-open-popin-item
				.project__image
					img(src="images/project/p-6.jpg" width="300" height="300"  alt="image")
				.project__text
					h3 DODO CASINO
				.project__details.js-popin-details.sr-only
					.projects
						img(src="images/project/p-6.jpg" width="300" height="300"  alt="image")
						.projects__text
							h3 DODO CASINO
							p Madagascar trsm aims to generate real value for our investors by creating synergy between onsite/offsite aspects of property development with our Property Development Protected Cell Fund.
							p For information on this project, contact us at 
								strong contact@zakaranda@gmail.com
		.section__action
			a.btn(href='/projects') Load more
		
	.section#teams
		h2.section__title Executive Board
		//- h3.section__subtitle Completely productize dynamic outsourcing vis-a-vis high standards in web.
		.teams.section__content
			.teams__item
				.teams__image
					img(src="images/teams/p-1.jpg" width="150" height="150" alt="image")
				p.teams__name Darren Cootapen
				p.teams__title Fund Manager
				p.teams__text Proactively unleash stand-alone "outside the box" thinking vis-a-vis interoperable synergy.
				p.teams__links
					a(href="https://facebook.com" target="_blank" rel="noopener noreferrer")
						span.sr-only icon
						i.fa.fa-facebook-square
					a(href="https://linkedin.com" target="_blank" rel="noopener noreferrer")
						span.sr-only icon
						i.fa.fa-linkedin-square
					a(href="https://viadeo.com" target="_blank" rel="noopener noreferrer")
						span.sr-only icon
						i.fa.fa-viadeo-square
					a(href="https://twitter.com" target="_blank" rel="noopener noreferrer")
						span.sr-only icon
						i.fa.fa-twitter-square
			.teams__item
				.teams__image
					img(src="images/teams/p-2.jpg" width="150" height="150" alt="image")
				p.teams__name Darren Cootapen
				p.teams__title Administrators
				p.teams__text Proactively unleash stand-alone "outside the box" thinking vis-a-vis interoperable synergy.
				p.teams__links
					a(href="https://facebook.com" target="_blank" rel="noopener noreferrer")
						span.sr-only icon
						i.fa.fa-facebook-square
					a(href="https://linkedin.com" target="_blank" rel="noopener noreferrer")
						span.sr-only icon
						i.fa.fa-linkedin-square
					a(href="https://viadeo.com" target="_blank" rel="noopener noreferrer")
						span.sr-only icon
						i.fa.fa-viadeo-square
					a(href="https://twitter.com" target="_blank" rel="noopener noreferrer")
						span.sr-only icon
						i.fa.fa-twitter-square
			.teams__item
				.teams__image
					img(src="images/teams/p-3.jpg" width="150" height="150" alt="image")
				p.teams__name Darren Cootapen
				p.teams__title Auditors
				p.teams__text Proactively unleash stand-alone "outside the box" thinking vis-a-vis interoperable synergy.
				p.teams__links
					a(href="https://facebook.com" target="_blank" rel="noopener noreferrer")
						span.sr-only icon
						i.fa.fa-facebook-square
					a(href="https://linkedin.com" target="_blank" rel="noopener noreferrer")
						span.sr-only icon
						i.fa.fa-linkedin-square
					a(href="https://viadeo.com" target="_blank" rel="noopener noreferrer")
						span.sr-only icon
						i.fa.fa-viadeo-square
					a(href="https://twitter.com" target="_blank" rel="noopener noreferrer")
						span.sr-only icon
						i.fa.fa-twitter-square
			.teams__item
				.teams__image
					img(src="images/teams/p-1.jpg" width="150" height="150" alt="image")
				p.teams__name Darren Cootapen
				p.teams__title Fund Manager
				p.teams__text Proactively unleash stand-alone "outside the box" thinking vis-a-vis interoperable synergy.
				p.teams__links
					a(href="https://facebook.com" target="_blank" rel="noopener noreferrer")
						span.sr-only icon
						i.fa.fa-facebook-square
					a(href="https://linkedin.com" target="_blank" rel="noopener noreferrer")
						span.sr-only icon
						i.fa.fa-linkedin-square
					a(href="https://viadeo.com" target="_blank" rel="noopener noreferrer")
						span.sr-only icon
						i.fa.fa-viadeo-square
					a(href="https://twitter.com" target="_blank" rel="noopener noreferrer")
						span.sr-only icon
						i.fa.fa-twitter-square
			.teams__item
				.teams__image
					img(src="images/teams/p-1.jpg" width="150" height="150" alt="image")
				p.teams__name Darren Cootapen
				p.teams__title Fund Manager
				p.teams__text Proactively unleash stand-alone "outside the box" thinking vis-a-vis interoperable synergy.
				p.teams__links
					a(href="https://facebook.com" target="_blank" rel="noopener noreferrer")
						span.sr-only icon
						i.fa.fa-facebook-square
					a(href="https://linkedin.com" target="_blank" rel="noopener noreferrer")
						span.sr-only icon
						i.fa.fa-linkedin-square
					a(href="https://viadeo.com" target="_blank" rel="noopener noreferrer")
						span.sr-only icon
						i.fa.fa-viadeo-square
					a(href="https://twitter.com" target="_blank" rel="noopener noreferrer")
						span.sr-only icon
						i.fa.fa-twitter-square
			.teams__item
				.teams__image
					img(src="images/teams/p-1.jpg" width="150" height="150" alt="image")
				p.teams__name Darren Cootapen
				p.teams__title Fund Manager
				p.teams__text Proactively unleash stand-alone "outside the box" thinking vis-a-vis interoperable synergy.
				p.teams__links
					a(href="https://facebook.com" target="_blank" rel="noopener noreferrer")
						span.sr-only icon
						i.fa.fa-facebook-square
					a(href="https://linkedin.com" target="_blank" rel="noopener noreferrer")
						span.sr-only icon
						i.fa.fa-linkedin-square
					a(href="https://viadeo.com" target="_blank" rel="noopener noreferrer")
						span.sr-only icon
						i.fa.fa-viadeo-square
					a(href="https://twitter.com" target="_blank" rel="noopener noreferrer")
						span.sr-only icon
						i.fa.fa-twitter-square
	.section.first#about
		h2.section__title About us
		.section__content
			p.left 
				strong Madagascar trsm 
				| aims to generate real value for our investors by creating synergy between onsite/offsite aspects of property development with our Property Development Protected Cell Fund, by ensuring the following:
			ul
				li The purchase of land for development of environmental friendly Green projects and to ensure that the correct land and size for projects are acquired.
				li The selection of the right contractors for all our projects through legal tenders, due diligence and by the approval of the Board.
				li Professional property architectural designs in order to maximize its functionality for its users and have architectural appeal, so that we avoid any diminishing value associated with a poorly designed project.
				li To maximize productivity through our professional management team and invest in the development of all of our employees.
				li To ensure that there is a balance between risk and return through financial structuring and what lenders and our investors will allow.
				li Intellectual property rights are used correctly to enhance value through designs and branding.
				li To conduct investment analysis and due diligence on any investable projects proposed to us by property developers.


			