.sr-only {
    display: none;
}

.headerMobile {
    position: fixed;
    background-color: #f0f6fc;
    width: 100%;
    top: -200px;
    z-index: 4;
    padding: 20px;
    transition: top .3s ease;
    ul,li {
        display: inherit!important;
        &:before, &:after{
            content: none!important;
        }
    }
    
    ul {
        margin: 0;
        padding: 0;
        li {
            list-style: none;
            margin: 0 0 15px;
            a {
                text-decoration: none;
                font-weight: 600;
                color: #365c9a;
            }
        }
    }
    &.open {
        top: 60px;
        transition: top .3s ease;
    }
    @include breakpoint(medium) {
        display: none;
    }
}

.header {
    
    position: relative;
    width: 100%;
    background-color: #f0f6fc;
    z-index: 5;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 35px;
    box-shadow: 0 -2px 15px -2px #ccc;

    background-color: rgba(255,255,255,0.9);
    position: fixed;
    top: 0;

    @include breakpoint(medium) {
        justify-content: space-between;
    }

    // @include breakpoint(large) {
    //     background-color: rgba(255,255,255,0.9);
    //     position: fixed;
    //     top: 0;
    //     justify-content: space-between;
    // }
    
    &__mobile-menu-open-btn {
        color: #365c9a;
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        @include breakpoint(medium) {
            display: none;
        }
    }

    &__mobile-menu-close-btn {
        color: #365c9a;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        @include breakpoint(medium) {
            display: none;
        }
    }

    &__nav {
        display: none;
        @include breakpoint(medium) {
            display: block;
        }
        ul {
            li {
                display: inline;
                margin: 0 15px;
                a {
                    text-decoration: none;
                    font-weight: 600;
                    transition: color .3s ease;
                    color: #365c9a;
                    &:hover {
                        transition: color .3s ease;
                        color: #ccc;
                    }
                }
            }
        }
    }
}
.footer {
    background-color: #365c9a;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0 60px;
    @include breakpoint(medium) {
        flex-direction: row;
        padding: 35px 0 75px;
    }
    &__item {
        padding: 20px 35px;
        @include breakpoint(medium) {
            padding: 0 35px;
        }
        h3 {
            margin: 10px 0 15px;
            font-size: 18px;
            font-weight: 600;
            color: #f0f6fc;
        }
        p {
            max-width: 500px;
            margin: 10px 0;
            font-size: 14px;
            color: #f0f6fc;
        }
    }
    &__text {
        position: absolute;
        z-index: 3;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        background-color: rgba(255,255,255,0.3);
        p {
            margin: 10px;
            font-size: 14px;
            color: #f0f6fc;
        }
    }
    &__nav {
        margin: 0;
        padding: 0;
        position: relative;

        display: inherit!important;
        &:before, &:after{
          content: none!important;
        }

        li {
            display: inherit!important;
            &:before, &:after{
                content: none!important;
            }
            margin: 0 0 15px;
            list-style: none;
            a {
                color: #f0f6fc;
            }
            
        }
    }
    &__icons {
        margin: 0;
        padding: 0;
        li {
            margin: 0 15px 0 0;
            list-style: none;
            display: inline;
            a {
                color: #f0f6fc;
            }
            i {
                font-size: 28px;
            }
        }
    }
}

.contact {
    color: #f0f6fc;
    p {
        margin: 0 0 10px;
    }
    span {
        font-weight: 600;
    }
    &__phoneNumber {
        @include breakpoint(large) {
            display: flex;
            flex-direction: row;
            justify-content: space;
            align-items: center;
            p:first-of-type {
                margin-right: 50px;
            }
        }
    }
}

.btn {
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    color: #f0f6fc;
    padding: 10px 30px;
    margin: 20px 0 0;
    background-color: #365c9a;
    text-decoration: none;
}